# Capstone Amazon E_Commerce

## Import Libraries

In [119]:
import numpy as np
import pandas as pd
import pymysql as sql

## Import Data

In [121]:
cs=pd.read_csv('C:\\Users\\HP\\Python PGA_49\\Capstone Project\\Import Data\\Customer.csv')
pr=pd.read_csv('C:\\Users\\HP\\Python PGA_49\\Capstone Project\\Import Data\\Products.csv')
od=pd.read_csv('C:\\Users\\HP\\Python PGA_49\\Capstone Project\\Import Data\\Orders.csv')
tr=pd.read_csv('C:\\Users\\HP\\Python PGA_49\\Capstone Project\\Import Data\\Transactions.csv')
rt=pd.read_csv('C:\\Users\\HP\\Python PGA_49\\Capstone Project\\Import Data\\Ratings.csv')
sp=pd.read_csv('C:\\Users\\HP\\Python PGA_49\\Capstone Project\\Import Data\\Subscription_Plan.csv')
sd=pd.read_csv('C:\\Users\\HP\\Python PGA_49\\Capstone Project\\Import Data\\Subscription_Details.csv')
dv=pd.read_csv('C:\\Users\\HP\\Python PGA_49\\Capstone Project\\Import Data\\Delievry.csv')
rr=pd.read_csv('C:\\Users\\HP\\Python PGA_49\\Capstone Project\\Import Data\\Returns_Refund.csv')

In [129]:
pr.head(2)

          P_ID   PName        Category      Specs1   Price
0  PD_21000001  Threat         Fashion        test  332.77
1  PD_21000002  Former  Home Appliance  successful  225.24

In [66]:
# Shape of all data (in rows and columns)

print('Customers:',cs.shape)
print('Products:',pr.shape)
print('Orders:',od.shape)
print('Transactions:',tr.shape)
print('Ratings:',rt.shape)
print('Subscription_Plan:',sp.shape)
print('Subscription_Details:',sd.shape)
print('Delivery:',dv.shape)
print('Returns_Refund:',rr.shape)

Customers: (10184, 8)
Products: (10000, 5)
Orders: (10000, 8)
Transactions: (10000, 4)
Ratings: (10000, 4)
Subscription_Plan: (3, 3)
Subscription_Details: (10036, 5)
Delivery: (325, 3)
Returns_Refund: (2000, 5)

## Data Preprocessing

### Handling Duplicate values

In [70]:
cs.duplicated().sum()
cs.drop_duplicates(keep='first',inplace=True)

In [72]:
pr.duplicated().sum()

0

In [74]:
od.duplicated().sum()

0

In [76]:
tr.duplicated().sum()

0

In [78]:
rt.duplicated().sum()
rt.drop_duplicates(keep='first',inplace=True)

In [80]:
sp.duplicated().sum()

0

In [82]:
sd.duplicated().sum()
sd.drop_duplicates(keep='first',inplace=True)

In [84]:
dv.duplicated().sum()
dv.drop_duplicates(keep='first',inplace=True)

In [86]:
rr.duplicated().sum()

0

In [88]:
# Checking Shape of all data 

print('Customers:',cs.shape)
print('Products:',pr.shape)
print('Orders:',od.shape)
print('Transactions:',tr.shape)
print('Ratings:',rt.shape)
print('Subscription_Plan:',sp.shape)
print('Subscription_Details:',sd.shape)
print('Delivery:',dv.shape)
print('Returns_Refund:',rr.shape)

Customers: (10000, 8)
Products: (10000, 5)
Orders: (10000, 8)
Transactions: (10000, 4)
Ratings: (10000, 4)
Subscription_Plan: (3, 3)
Subscription_Details: (10036, 5)
Delivery: (300, 3)
Returns_Refund: (2000, 5)

### Handling Null Values

In [91]:
cs.isna().sum()

C_ID              0
C_Name            0
Gender            0
Age               0
City              0
State             0
Street Address    0
Mobile            0
dtype: int64

In [93]:
pr.isna().sum()
pr.dropna(inplace=True)

In [95]:
od.isna().sum()
od['Coupon']=od['Coupon'].fillna('No Coupon')

In [97]:
tr.isna().sum()
tr['Transaction_Mode']=tr['Transaction_Mode'].fillna('Other MOP')

In [99]:
rt.isna().sum()
rt['Prod_Rating']=rt['Prod_Rating'].fillna(round(rt['Prod_Rating'].mean(),1))
rt['Delivery/Service_Rating']=rt['Delivery/Service_Rating'].fillna(round(rt['Delivery/Service_Rating'].mean(),1))

In [101]:
sp.isna().sum()

Plan_ID      0
Plan_Name    0
Features     0
dtype: int64

In [103]:
sd.isna().sum()

SD_ID        0
C_ID         0
Plan_ID      0
From_Date    0
To_Date      0
dtype: int64

In [105]:
dv.isna().sum()
dv['DP_Ratings']=dv['DP_Ratings'].fillna(round(dv['DP_Ratings'].mean(),1))

In [107]:
rr.isna().sum()

RT_ID            0
Or_ID            0
Reason           0
Return/Refund    0
Date             0
dtype: int64

### Drop unnecessary columns

In [110]:
od.drop(['Order_Time'],axis=1,inplace=True)

### Changing Datatype

In [113]:
od['Order_Date']=pd.to_datetime(od['Order_Date'])

In [115]:
sd['From_Date']=pd.to_datetime(sd['From_Date'])
sd['To_Date']=pd.to_datetime(sd['To_Date'])

In [117]:
rr['Date']=pd.to_datetime( rr['Date'])

## Exporting data to MySql

In [357]:
sql=sql.connect(user='root',password='12345',host='localhost',database='Capstone_amazon_PGA49')
sl=sql.cursor()
sl

In [638]:
# Export into customer sql table 
cs_i=''' insert into customer values (%s,%s,%s,%s,%s,%s,%s,%s);''' 
cs_vl=[tuple(i) for i in cs.values]
sl.executemany(cs_i,cs_vl)
sql.commit()

In [642]:
# Export into product sql table 
pr_i=''' insert into product values (%s,%s,%s,%s,%s);'''
pr_vl=[tuple(i) for i in pr.values]
sl.executemany(pr_i,pr_vl)
sql.commit()

In [646]:
# Export into orders sql table 
od_i='''insert into orders values (%s,%s,%s,%s,%s,%s,%s);'''
od_vl=[tuple(i) for i in od.values]
sl.executemany(od_i,od_vl)
sql.commit()

In [113]:
# Export into transaction sql table 
tr_i=''' insert into transactions values (%s,%s,%s,%s)'''
tr_vl=[tuple(i) for i in tr.values]
sl.executemany(tr_i,tr_vl)
sql.commit()

In [219]:
# Export into ratings sql table 
rt_i=''' insert into rating values (%s,%s,%s,%s);'''
rt_vl=[tuple(i) for i in rt.values]
sl.executemany(rt_i,rt_vl)
sql.commit()

In [229]:
# Export into Subscription_Plan' sql table 
sp_i=''' insert into Subscription_Plan values (%s,%s,%s);'''
sp_vl=[tuple(i) for i in sp.values]
sl.executemany(sp_i,sp_vl)
sql.commit()

In [241]:
# Export into Subscription_Details sql table 
sd_i=''' insert into Subscription_Details values (%s,%s,%s,%s,%s);'''
sd_vl=[tuple(i) for i in sd.values]
sl.executemany(sd_i,sd_vl)
sql.commit()

In [253]:
# Export into Delivery sql table 
dv_i=''' insert into Delivery values(%s,%s,%s); '''
dv_vl=[tuple(i) for i in dv.values]
sl.executemany(dv_i,dv_vl)
sql.commit()

In [361]:
# Export into Returns_Refund sql table 
rr_i=''' insert into return_refund values (%s,%s,%s,%s,%s);'''
rr_vl=[tuple(i) for i in rr.values]
sl.executemany(rr_i,rr_vl)
sql.commit()